<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes App</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="bg-white">
    <!-- Header -->
    <%- include("../partials/header") %> <%- include("../partials/sideBar") %>

    <div class="lg:ml-64 transition-all duration-300">
      <!-- Notes -->
      <%- include("../index") %> <%- include("../partials/noteModal") %>
      <!-- Floating Action Button -->
      <%- include("../partials/noteCreationBtn") %>
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/noteModal.js"></script>
  </body>
</html>
